@mixin font-logo-small-screen {
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #FFFFFF;
}

@mixin font-logo-large-screen {
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #FFFFFF;
}

@mixin font-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    color: #FFFFFF;
}

header {
    max-width: 600px;
    width: 100%;
    margin-top: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .logo {
        margin-left: 25px;
        @include font-logo-small-screen;        
    }

    nav {
        display: flex;    
        align-items: center;

        a {
            @include font-nav;
            text-decoration: none;            
        }   
        
        i {
            margin-right: 2em;
            color: #FFFFFF;
        }
    }
}

@media screen and (max-width: 500px) {
    ul {
        visibility: hidden;
    }
}

@media screen and (min-width: 501px) {
    ul {
        width: 280px;
        margin-right: 2em;
        transform: translateX(25%);
        display: flex;
        justify-content: space-between;
    }

    i {
        visibility: hidden;
    }    
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
    .logo {
        margin-top: 1.5em;               
    }
}

@media screen and (min-width: 1101px) {
    header {
        margin-top: 5em;
        margin-left: 50px;
        align-self: flex-start;
        .logo {
            margin-left: 50px;
            @include font-logo-large-screen;
        }

        .logo:hover {
            color: blue;
        }

        ul {
            transform: translateX(-3%);
            justify-content: space-around;
        }
        
        a:hover {
            color: blue;
        }
    }
}